.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $color-blue-400;
  &__chat {
    height: 100%;
    flex: 1;
  }

  &__bottom {
    width: 100%;
    padding: 10px;
    border-top: 3px solid $color-blue-300;
    &-form {
      width: 100%;
      display: flex;
      gap: 16px;
    }
    &-input {
      flex: 1;
      width: 100%;
      background-color: $color-blue-300;
      border: 0;

      padding: 4px 8px 0 8px;
      color: $color-white;
      border-radius: 4px;
      font-size: 15px;

      &:focus {
        outline: 2px solid $color-blue-100;
        outline-offset: 1px;
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        padding: 0 2px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-blue-100;
        -webkit-border-radius: 16000px;
        cursor: pointer;
        z-index: 100;
      }

      &::-webkit-input-placeholder {
        display: flex;
        align-items: center;
        padding-top: 0px;
      }
      overflow: auto;
      resize: none;
      max-height: 75px;
    }

    &-submit {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      svg {
        height: 100%;
        color: $color-green-100;
        stroke-width: 3px;
        pointer-events: none;
        transform: rotate(40deg);
        transition: color 0.3s linear;
        max-height: 30px;
      }

      &:hover {
        svg {
          color: $color-blue-100;
        }
      }
    }
  }
}
