.register {
  min-height: 100vh;
  background-color: $color-blue-400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  &__card {
    border: 2px solid $color-blue-300;
    border-radius: 24px;
    background-color: $color-blue-200;
    padding: 24px 32px;
    width: 100%;
    max-width: 420px;

    &-title {
      text-align: center;
      margin-bottom: 24px;
      color: $color-white;
    }

    &-form {
      button {
        margin: 0 auto;
        display: block;
        padding: 6px 36px;
        border-radius: 6px;
        border: 0;
        background-color: $color-blue-400;
        color: $color-white;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }

    .form-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $color-white;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      label {
        font-weight: bold;
        min-width: 60px;
        width: 100%;
        max-width: 75px;
      }
      input {
        border: 0;
        min-height: 28px;
        width: 100%;
        max-width: 280px;
        padding-left: 14px;
        font-size: 16px;
        line-height: 15px;
        &:focus {
          outline: 2px solid $color-green-100;
          outline-offset: 3px;
        }
      }
    }
  }
}
