$color-white: #f8f8ec;
$color-green: #aedd2b;
$color-green-100: #79ae92;
$color-green-200: #1c5560;
$color-blue-100: #066699;
$color-blue-200: #0a5483;
$color-blue-300: #02416d;
$color-blue-400: #001f36;
$color-black: #000000;
$color-wheat: #fbffcd;
